<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katumajärvi Info</title>
    <link rel="stylesheet" href="static\\styles.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="lang-sel"> <a href="{{ url_for('home') }}"><img src="static\media\eng.png" alt="Vaihda englanniksi "> </a> </div>
            <div class="header-spacer">                         </div>
            <div class="login">Kirjaudu sisään</div>
        </div>

    </header>

    <div class="corner-logo"> 
        <img src="static/media/jarvi-meriwiki_logo.png" alt="Logo">
    </div>

    <div class="banner">
        <h2>Katso mitä kaikkea tietoa löydät Katumajärvestä</h2>
    </div>

    <main>
        <div class="sidebar">
            <ul>
                <li><a href="#">Sinilevä</a></li>
                <li><a href="#">Lämpötila</a></li>
                <li><a href="#">Vedenkorkeus</a></li>
                <li><a href="#">Vedenkirkkaus</a></li>
                <li><a href="#">Kokonaistyppi</a></li>
                <li><a href="#">Kokonaisfosfori</a></li>
            </ul>
        </div>

        <div class="content">
            <section class="lake-info">
                <h3>Katumajärvi-info</h3>
                <p>
                    Täältä löydät kaikki ajantasaiset tiedot järven kunnosta ja tilasta.
                    Seuraamme muun muassa veden lämpötilaa, kirkkausastetta, sinilevätilannetta sekä vedenkorkeutta.
                    Sivuston tiedot päivittyvät säännöllisesti, jotta saat aina tuoreimman tiedon järvestä.
                </p>
                <p><strong>Latest update:</strong> {{ts}}</p>

                <div class="info-grid">
                    <div class="info-card">
                        <img src="static/media/water_temperature.png" alt="Temperature">
                        <h4>Veden Lämpötila</h4>
                        <p> {{ temp }} °C</p>
                        <a href="{{ url_for('tempdetails') }}"><button>Details</button></a>
                    </div>

                    <div class="info-card">
                        <img src="static/media/water_temperature.png" alt="pH level">
                        <h4>Veden ph-taso</h4>
                        <p> {{ pH }} </p>
                        <a href="{{ url_for('phdetails') }}"><button>Lisätietoa</button></a>
                    </div>

                    <div class="info-card">
                        <img src="static/media/water_temperature.png" alt="Total Dissolved Solids">
                        <h4>Liuenneiden aineiden kokonaismäärä</h4>
                        <p> {{ tds }} </p>
                       <a href="{{ url_for('tdsdetails') }}"><button>Lisätietoa</button></a>
                    </div>

                    <div class="info-card">
                        <img src="static/media/Blue-green_Algae.png" alt="Blue-green algae">
                        <h4>Sinilevä</h4>
                        <p>EI SINILEVÄÄ</p>
                        <button>Lisätietoa</button>
                    </div>

                    <div class="info-card">
                        <img src="static/media/water-level.png" alt="Water level">
                        <h4>Vedenkorkeus</h4>
                        <p>812 m</p>
                        <button>Lisätietoa</button>
                    </div>
                    <div class="info-card">
                        <img src="static/media/Water-Clarity.png" alt="Water clarity">
                        <h4>Vedenkirkkaus</h4>
                        <p>4 FTU (NÄKÖSYVYYS 2.9m)</p>
                        <button>Lisätietoa</button>
                    </div>
                </div>

                <div class="nutrient-info">
                    <h3>Veden Ravinnepitoisuudet</h3>
                    <div class="nutrient-grid">
                        <div class="info-card">
                            <h4>Kokonaistyppi</h4>
                            <img src="static/media/no2.png" alt="Nitrogen Dioxide">
                            <p>390 μg/l</p>
                            <button>Lisätietoa</button>
                        </div>
                        <div class="info-card">
                            <h4>Kokonaisfosfori</h4>
                            <img src="static/media/po4.png" alt="Phosphate">
                            <p>10 μg/l</p>
                            <button>Lisätietoa</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</body>
</html>